!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "A demo app integrating knockout.js with devise in Ruby on Rails", :name => "description"}/
    %meta{:content => "knockout.js,devise,javascript,ruby on rails,ruby", :name => "keywords"}/
    %title{:dir => "ltr"} Knockout-Devise
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = javascript_include_tag "application"
  %body
    = yield
    %p
      You can find the souce code
      = succeed "." do
        %a{:href => "https://github.com/passion8/knockout-rails-devise-example"} here
    %p  
      developed by
      %a{:href => "http://paritosh.passion8.co.in"} Paritosh Piplewar
          